/* ======================================================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  /* 62.5% of 16px = 10px */
  /* set 1rem = 10px using 62.5% of 16px 
  1rem = 10px
  1.5rem = 15px
  3rem = 30px
  6rem = 60px
  .1rem = 1px
   */
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  color: whitesmoke;
}

/* ======================================================================= */

/* ====================JAVASCRIPT PROJECT STYLES========================== */
:root {
  --white: #fff;
  --whitesmoke: #f5f5f5;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ======================================================================= */

body {
  font-family: sans-serif;
  margin: 48px 96px;
  position: relative;
  color: #444;
}

button {
  color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.toggle {
  position: absolute;
  right: 0;
  background: none;
  font-size: 30px;
  padding: 4px;
}

.tabs {
  margin-bottom: 8px;
}

.tab {
  border-radius: 12px;
  background-color: #edf2ff;
  padding: 12px 24px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #364fc7;
  transition: all 0.3s;
}

.tab.active,
.tab:hover {
  background-color: #364fc7;
  color: #fff;
}

.tab-content {
  background-color: #edf2ff;
  padding: 32px;
  border-radius: 12px;
}

.tab-content h4 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #364fc7;
}

.tab-content p {
  font-size: 18px;
}

.tab-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 24px;
}

.tab-actions>button {
  background: none;
  text-decoration: underline;
  color: #4c6ef5;
  font-size: 14px;
}

.hearts-counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hearts-counter button {
  background-color: #f03e3e;
  padding: 4px 6px;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
}

.tab-undo {
  display: flex;
  gap: 8px;
}

.tab-undo button {
  background-color: #364fc7;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}